input, textarea, select {outline:none;}

/*---------------------------GLOBALS----------------------------*/
/*HEADER*/
.ui-header img {width:120px;}
a#btn-buy-pass {margin-right:96px;}

/*---------------------------LOGIN----------------------------*/
.ui-controlgroup.ui-login {width:50%; margin:auto;}
div.loginError {position:relative; background:linear-gradient(#303030 0%, #000000 100%); background:-webkit-linear-gradient(#303030 0%, #000000 100%); background:-moz-linear-gradient(#303030 0%, #000000 100%); background:-o-linear-gradient(#303030 0%, #000000 100%); width:100%; color:red; text-align:center; font-size:18px; padding:8px 0; margin-bottom:6px; text-shadow:none; -webkit-text-shadow:none; -moz-text-shadow:none; -o-text-shadow:none; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; display:none;}

/*-----------------------RACER OPTIONS-------------------------*/
div.racer-flag {position:absolute; top:0px; right:0px; float:right; margin:6px 14px 0 0;}
div.ui-grid-solo {text-align:center;}
div.ui-grid-solo strong {float:left; width:100%; font-size:22px; font-weight:bold; margin:8px 0;}
div.ui-grid-solo p {float:left; text-align:left; margin-top:4px; white-space:normal;}
div.ui-grid-solo div.optionPrice {position:absolute; top:10px; right:18px; font-size:26px; color:#919191; margin:0 0 0 0; line-height:16px; text-align:right;}
div.ui-grid-solo div.optionPrice span {color:#000; font-size:12px;}

/*----------------------CLASS CHECK IN-------------------------*/
div.racer-checkin {position:absolute; top:0px; right:0px; float:right; margin:4px 46px 0 0;}

/*----------------------CLASS GROUPING-------------------------*/
div.ui-grid-a#classGrouping ul {width:98%;}

/*--------------------CLASS ASSIGN CARS------------------------*/
ul.classAssignCars li {padding:16px 10px;}
ul.classAssignCars li div.ui-select {position:absolute; top:-6px; right:8px; width:150px;}

/*-----------------------TRANSACTIONS-------------------------*/
ul#transForm label {white-space:nowrap; text-align:left;}
ul#transForm input {width:98%;}
fieldset#cardExp div.ui-controlgroup-controls {width:240px;}
div#alertFlag {display:none;}
textarea#refundNotes {width:98%; resize:vertical; max-height:200px;}
textarea#feeNotes {width:98%; resize:vertical; max-height:200px;}

ul#transForm li.cardErrors {color:red; display:none;}
ul#racerPackages li.cardErrors {color:red; display:none;}

/*------------------------PACKAGES----------------------------*/
ul#racerPackages label {white-space:nowrap; text-align:left;}
div.ui-block-b#ui-packages-cart-stats {text-align:right; font-size:14px;}
div.ui-block-b#ui-packages-cart-stats span#packages-total {font-size:20px; color:#ff0000;}
div.ui-block-b#ui-packages-cart-stats span#packages-tax {font-size:16px; color:#000;}
div.ui-block-b#ui-packages-cart-stats span#packages-subtotal {font-size:16px; color:#000;}

div.packageIncludedWrap {position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:100;}
div.packageIncludedWrap div.includeBG {position:absolute; top:0px; left:0px; background:#EEE; width:100%; height:100%; opacity:0.7; z-index:100;}
div.packageIncludedWrap h4 {position:absolute; width:100%; font-size:22px; color:red; text-align:center; font-weight:bold; margin-top:120px; z-index:101;}

/*------------------------INSURANCE----------------------------*/
ul#insuranceForm li div.ui-controlgroup-controls {position:relative; left:50%; width:300px; text-align:center; margin-left:-150px;}

